.match {
  width: calc(100% - 6px);
  margin: 0 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #000;
  border-radius: 7px;
  cursor: pointer;
  background-color: white;
}

.match_chosen {
  background-color: lightblue;
}

.match__product-name {
  max-width: calc(100% - 3px);
  min-height: 70px;
  display: block;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  word-break: break-all;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}
