.select {
  width: calc(100% - 3px);
  margin-left: 3px;
  font-size: 15px;
  line-height: 15px;
  font-style: normal;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(0, 183, 234, 0.9) -30%, rgba(56, 164, 58, 0.9) 100%);
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.select__option {
  background: #f2f2f2;
  color: black;
}

@media screen and (max-width: 650px) {
  .select {
    font-size: 10px;
    line-height: 15px;
  }
}
