.search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 10px;
}

.search-form__field-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.search-form__field {
  width: calc(90% - 5px);
  margin: 0;
  margin-left: 5px;
  padding: 0;
  padding-left: 5px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 4px;
}

.search-form__submit-btn {
  width: 10%;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('../../images/serchInFullList/search-icon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.search-form__submit-btn_diabled {
  opacity: 0.6;
}

.search-form__no-goods {
  max-width: calc(100% - 3px);
  margin: 0;
  margin-left: 3px;
  margin-bottom: 20px;
  padding: 0;
  word-break: break-all;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}
