.stat-page {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 1fr;
  align-items: center;
  gap: 20px 50px;
  box-sizing: border-box;
}

.stat-page__header {
  width: 100%;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  background-color: #ebe2dd;
  padding: 0 20px;
  box-sizing: border-box;
  min-height: 70px;
}

.stat-page__menu-button {
  border: none;
  background-color: transparent;
  color: #364037;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.stat-page__flex-table {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0 0 0 30px;
}

.stat-page__infinite-scroll {
  overflow-y: auto;
  margin: 10px 0 0;
  display: flex;
}

.stat-page__infinite-scroll_type_matched {
  flex-direction: column;
}

.stat-page__infinite-scroll_type_deferred {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.stat-page__info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 33px 20px 33px 35px;
  margin: 0 30px 0 0;
  box-sizing: border-box;
  background-color: #ebe2dd;
}

.stat-page__info-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  color: #364037;
}

.stat-page__total-matched {
  margin: 15px 0 0;
  font-size: 20px;
  font-weight: 400;
  color: #364037;
}

.stat-page__dealer-info-title {
  font-size: 18px;
  font-weight: 600;
  margin: 50px 0 0;
  color: #364037;
}

.stat-page__dealer-matched {
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0 0;
  color: #364037;
}

.stat-page__matched-quant {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  color: #364037;
}

.stat-page__matched-quant_type_green {
  color: green;
}

.stat-page__matched-quant_type_red {
  color: red;
}

.stat-page__err-message {
  font-size: 30px;
  font-weight: 500;
  align-self: center;
  color: #364037;
}
