.stat-page {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 20vw 70vw;
  gap: 50px 70px;
  align-items: start;
  padding: 20px 0 0;
}

.stat-page__btn-footer-background {
  background: linear-gradient(90deg, rgba(0, 183, 234, 0.9) -60%, rgba(56, 164, 58, 0.9) 100%);
  border-radius: 15px;
  min-height: 38px;
  display: flex;
  align-items: center;
  width: calc(70% - 6px);
  justify-self: center;
}

.stat-page__btn-footer {
  margin: 0 2px;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  border-radius: 3px;
  cursor: pointer;
  border-radius: 12px;
  background: white;
  color: black;
  border: none;
  outline: 2px solid transparent;
}

.stat-page__btn {
  width: 100%;
  word-break: break-all;
}

.stat-page__flex-table {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.stat-page__info {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  padding: 25px 10px;
}

.stat-page__info-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.stat-page__total-matched {
  margin: 15px 0 0;
  font-size: 20px;
  font-weight: 400;
}

.stat-page__dealer-info-title {
  font-size: 18px;
  font-weight: 600;
  margin: 50px 0 0;
}

.stat-page__dealer-matched {
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0 0;
}

.stat-page__matched-quant {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.stat-page__matched-quant_type_green {
  color: green;
}

.stat-page__matched-quant_type_red {
  color: red;
}

.stat-page__err-message {
  font-size: 30px;
  font-weight: 500;
  align-self: center;
}
