.stat-page {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 1fr;
  align-items: center;
  gap: 20px 50px;
  box-sizing: border-box;
}

.stat-page__header {
  width: 100%;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  background-color: #ebe2dd;
  padding: 0 20px;
  box-sizing: border-box;
  min-height: 70px;
}

.stat-page__menu-button {
  border: none;
  background-color: transparent;
  color: #364037;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.stat-page__flex-table {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0 0 0 30px;
  height: 800px;
}

.stat-page__infinite-scroll {
  overflow-y: auto;
  margin: 10px 0 0;
  display: flex;
}

.stat-page__infinite-scroll_type_matched {
  flex-direction: column;
}

.stat-page__infinite-scroll_type_deferred {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.stat-page__err-message {
  color: black;
  font-size: 25px;
  font-weight: 600;
  align-self: center;
}
